<!DOCTYPE html>
<html>
    <head>
        <title>Homepage</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    </head>

    <body>
        
        <h1 class="TitleHeader">INSERT WEBNAME</h1>

        {% if message %}
            <h1 class="InfoHeader">ASDKJH</h1>
        {% endif %}

        <h1 class="InfoHeader">Log in with spotify and we will give you a playlist based on the weather at your current location</h1>

        <div class="container">
               <form method="GET", action="/login">
                    <button>Log in with Spotify</button>
                </form>
        </div>
        
    </body>