<!DOCTYPE html>
<html>
    <head>
        <title>Homepage</title>
        <link rel="stylesheet" href="main.css">
    </head>

    <body>
        <h1 class="TitleHeader">Welcome to INSERT WEBNAME</h1>

        <h1 class="InfoHeader">Log in with spotify and we will give you a playlist based on the weather at your current location</h1>
        
        <div class="container">
                <button>Log in with Spotify</button>
        </div>
        
        <script src="index.js"></script>
    </body>

</html>
