<!DOCTYPE html>
<html>
    <head>
        <title>Old playlist</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    </head>

    <body>
        {% if message %}
            <h1 class="TitleHeader">{{message}}</h1>
        {% endif%}

        <div class="navbar">
            <div class="logout-container">
                    <form method="POST", action="/logout">
                        <div class="logout-item">
                            <a href="/logout">Log out</a></li>
                        </div>
                    </form>

                    <div class="logout-item">
                            <a href="/getPlaylist">Back to main page</a></li>
                    </div>
                    

                    
                    
                    <div class="logout-item">
                        <a href="/oldPlaylist">Back to old playlist</a></li>
                    </div>


            </div>
        </div>

        {% if playlists %}
            <div class="listContainer">
                <ul class="ul1">
                    Choose from your past playlists to see the songs
                    {% for playlist in playlists %}
                        <form method="POST", action="/oldPlaylist">
                            <li class="li1" onclick="this.parentNode.submit();">
                                {{ playlist[0] }}
                                <input type="hidden" name="userID" value="{{playlist[2]}}">
                                <input type="hidden" name="playlist_id" value="{{playlist[1]}}">
                            </li>
                        </form>
                    {% endfor %}
                </ul>
            </div>
        {% endif%}
    
        {% if songs %}
            <div class="listContainer">
                <ul class="ul1">
                    Songs   
                    {% for song in songs%}
                        <li class="li1">{{song[0]}}</li>
                    {% endfor %}
                </ul>

                <ul class="ul1">
                    Artists   
                    {% for song in artist%}
                        <li class="li1">{{song[0]}}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}


         
    </body>

</html>