<!DOCTYPE html>
<html>
    <head>
        <title>Main</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    </head>

    <body>
        {% if name %}
            <h1 class="TitleHeader">Welcome to our website {{name}} </h1>
        {% endif %}

        <h1 class="InfoHeader">This is your playlist for today</h1>
        
        <div class="container">
            <button class="Button_Wrapper">Add playlist to spotify</button>
            <form method="POST", action="/refresh">
                <button>Refresh the song choices</button>
            </form>
       </div>

        <table style="align-items: center;">
            <thread>
                <tr>
                    <th>Track</th>
                    <th>Artist</th>
                    <th>Time</th>
                </tr>
            </thread>


        </table>


        <form method="POST", action="/logout">
        <ul>
            <li class="Logout"><a href="/logout">Log out</a></li>
        </ul>
        </form>


         
    </body>